# Python / Jupyter
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
ENV/

# Configuration & Secrets
.env

# VS Code settings
.vscode/

# Data files
# data/*.xlsx
# data/*.csv

# System
.DS_Store
Thumbs.db